/* FONT STYLE POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* Font Size 300 - 900 */
/* Color 
    000000  white
    e5e5e5  grey
    fca311  yellow
    14213d  dark blue
    000000  black
*/
/* VARIABLES - CALL var(*variable*)*/
:root {
    --text-color: #000000;
    --hover-text-color: #fca311;
    --button-hover-color: #14213d;
    --change-txt-colour: #ffffff;
}

/* STYLING */
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
button , img, .double_arrow_down{
    user-select: none;
    -webkit-user-drag: none;

}

/* NAVIGATION */
nav , .navigation-links{
    /* background-color: #e5e5e5; */
    user-select: none;
    display: flex;
    align-items: center;
    height: 15vh;
    justify-content: space-around;
    list-style: none;
    font-size: 2.5rem;
    font-weight: 800;
}
.logo a {
    cursor: pointer;
    text-decoration: none;
    color: #fca311;
}
.navigation-links, .navigation-links a {
    font-size: 1.5rem;
    font-weight: 600;
    gap: 30px;
    text-decoration: none;
    color: var(--text-color);
}
.navigation-links a div:hover {
    color: var(--hover-text-color);
    transform: scale(1.2);
    transition: .2s ease-in-out;
}


/* PROFILE DESIGN */
section {
    padding-top: 1.5rem;
    
    position: relative;
    height: 85vh;
    margin: 0 10%;
    box-sizing: border-box;
    min-height: fit-content;
    text-align: center;
}

#profile {
    top: -1vh;
    padding: 0;
    display: flex;
    justify-content:space-around;
}
.profile_pic {
    display: flex;
    margin: auto 5%;
}
.pic {
    border-radius: 50%;
    width: 100%;
}
.text {
    align-content: center;
    text-align: center;
}
.text p , .text_sub_title{
    font-size: 1.5rem;
    font-weight: 600;
}
.title {
    color: #fca311;
    font-size: 3rem;
    margin-bottom: .5rem;
}
.btn_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}
.btn {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem;
    width: 12rem;
    border-radius: 3rem;
    background-color: #ffffff;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--button-hover-color);
    color: var(--change-txt-colour);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

#socials {
    display: flex;
    justify-content: center;
    /* border: #000000 solid; */
    gap: 2rem;
}
.icon {
    cursor: pointer;
    height: 3rem;
}
.icon:hover {
    transition: .2s ease-in-out;
    transform: scale(1.2);
}
.arrow_down{
    position: absolute;
    bottom: 5%;
    right: -8%;
    cursor: pointer;
}

/* ABOUT */
.about_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.about_me_pic {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -100;
}
.about_me_pic img {
    height: 70vh;
    aspect-ratio: 9 / 16;
    object-fit: cover;
    pointer-events: none;
    border-radius: 26px;
    position: absolute;
}
.about_me_pic img:first-child {
    top: -60px;
    left: 50px;
    rotate: -10deg;
    object-position: 55% center;

}
.about_me_pic img:last-child {
    bottom: 50px;
    left: 300px;
    rotate: 8deg;
}
.about {
    width: 50%;
    font-size: 1.5rem;
    text-align: justify;
}
.about_skill {
    text-align: left;
    border: #000000 solid;
    padding: .5rem 1.2rem;
    border-radius: 2rem;
    max-width: 40%;
}
.about_skill .text_sub_title {
    font-size: 2.3rem;
    font-weight: 700;
    margin-left: 2rem;
}
.skill_box {
    display: flex;
    text-align: left;
    gap: 1rem;
    margin-bottom: .5rem;
    
}
.skill_box .check {
    margin-top: .5rem;
}
.skill_description h3{
    font-size: 1.8rem;
    font-weight: 600;
}

.check img {
    width: 2rem;
}
